* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}


.navbar {
    min-width: 320%;
    background-color: #f4f3f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 15vh;
    align-items: center;
    padding: 10px;
    list-style: none;
    width: 100%;

}
.navbar ul{
    float: right;
    margin-right: 20px;
}

header .navbar {
    position: fixed;
    top: 0;
    z-index: 100;
    line-height: 30px;
}

.navbar a {
    float: left;
    font-size: 100%;
    color: #333;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #d41928;
    color: white;
}
.navbar ul li{
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
.search-form input[type="text"] {
    border: 1px solid #d41928;
    padding: 5px;
    border-radius: 5px;
    color: #d41928;
}

.search-form button {
    background-color: #d41928;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    border: 1px solid #d41928;
    padding: 5px;
    border-radius: 5px;
    color: #d41928;
    width: 200px;
    margin-right: 10px;
}

.login-form button {
    background-color: #d41928;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.logo {
    float: left;
    margin: 10px;
}

.logo img {
    width: 100px;
}

.container-fluid {
    background-color: #f5f1f2;
    margin: 0 auto;

}

html {
    scroll-behavior: smooth;
}

.card {
    margin-top: 100px;

}

footer {

    margin-top: 5px;
    padding: 1px;
    background-color: #d41928;
    color: #FFF;
    text-align: center;

}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

footer p {
    margin: 0;
}

main .favorites {
    width: 80%;
    display: grid;
    height: 100%;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

main .favorites article {

    background-color: #f9f9f9;
    padding: 10px;
    width: 30%;
    display: inline-block;
    margin: 20px auto;
    border-radius: 20px;
}

main .favorites article figure {
    margin-bottom: 20px;
}

main .favorites article figure img {
    height: 70%;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    transition: border-radius 0.5s;
    border: 4px solid transparent;
}

main .favorites article figure img:hover {
    border-radius: 0;
    border: 4px solid #d41928;
}


.tag {
    background-color: #d41928;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px;
    width: fit-content;
    margin-bottom: 8px;
}

main aside {
    padding: 20px;
    width: 100%;
    height: 100%;
    margin-right: 0px;
}


#norte,
#nordeste,
#sul,
#sudeste,
#centro-oeste {
    border: 2px solid #00060155;
    margin: 10px;
    border-radius: 20px;
}


#contact {
    align-items: center;
    padding: 10px;
    width: auto;

}


div h4 {
    text-align: center;
    padding-top: 20px;
}

#inscricoes {
    display: inline-block;
    height: fit-content;
    margin: 20px 20px;
    padding: 0 8px;
    background-color: #FFFFFF;


}

#inscricoes label {
    display: flex;
    margin: 20px auto;

}

#inscricoes label input {
    border: 1px solid #d41928;
    border-radius: 5px;

}

#inscricoes label input:not([type="checkbox"]) {
    width: 300px;
    height: 32px;
    padding-left: 10px;
}

#inscricoes button {
    background-color: #d41928;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 20px 20px 0px;

}

.surpreenda-me {
    color: #d41928;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
    margin: 10% auto;

}

#pedido-form {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    margin: 10% auto;
    text-align: left;
    background-color: rgb(238, 209, 209);

}

#pedido-form label {
    margin-top: 10px;
    color: #333;
    display: inline;
    margin-right: 10px;
}

#pedido-form input[type="file"],
#pedido-form input[type="number"],
#pedido-form input[type="text"],
#pedido-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #d41928;
    border-radius: 5px;
    color: #333;
}

#pedido-form input[type="radio"] {
    margin-right: 5px;
}

#pedido-form button {
    background-color: #d41928;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

form input[type="radio"] {
    display: inline;
    margin-right: 1px;
}