* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.delicias {
    font-size: x-large;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Marvel', 'Open Sans', 'Playfair Display', sans-serif;
    height: 100vh;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.redes-sociais a {
    text-decoration: none;
    margin: 0 10px;
    color: #000601;
}

.redes-sociais a:hover {
    color: #12cd2b;
}

ul,
ol {
    list-style: none;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    color: inherit;
}


header {
    background-color: #ffffff;
    text-align: center;
    padding-top: 20px;
}

header img {
    width: 180px;
    margin: 16px;
}

header nav {
    line-height: 48px;
    background-color: #308708;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 80px;
    color: #ffffff;
}

nav ul li a {
    padding: 5px;
}

nav ul li a:hover {
    background-color: #FFFFFF;
    color: #03412b;
    border-radius: 5px;
}

nav ul li a:focus {
    text-decoration: underline;
}

main {
    padding: 20px;
    height: fit-content;
}

main .mais-procurados {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

main .mais-procurados article {
    background-color: #f9f9f9;
    padding: 20px;
    width: 30%;
    display: inline-block;
    margin: 20px 0;
    border-radius: 20px;
}

main .mais-procurados article figure {
    margin-bottom: 8px;
}

main .mais-procurados article figure img {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.tag {
    background-color: #000000;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 10px;
    width: fit-content;
    margin-bottom: 8px;
}

.oldPrice {
    text-decoration: line-through;
    color: #938f8f;
    padding-right: 5px;
}

main aside {
    padding: 20px;
    width: 25%;
    height: 100%;
    display: inline-block;
    margin-right: 50px;
}

#contato {
    height: 360px;
    width: inherit;
    background-color: #FFFFFF;
    display: inline;
}

#mapa img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

#about {
    height: fit-content;
    padding: 32px 0;
    background-color: #015499;
    color: #FFFFFF;
}

#about article {
    width: 60%;
    margin: auto;
}

#about h3 {
    margin-top: 30px;
}

#about p {
    margin-top: 10px;
    text-align: justify;
}

.titulo {
    margin: 20px;
    text-align: left;
    font-size: 30px;
    font-weight: 700;
}

#inscricoes {
    margin: 40px;
    height: fit-content;
    padding: 40px 0;
    background-color: #FFFFFF;
}

#inscricoes label {
    display: block;
    margin: 20px 0;

}

#inscricoes label input {
    border: 1px solid #015499;
    border-radius: 5px;

}

#inscricoes label input:not([type="checkbox"]) {
    width: 300px;
    height: 32px;
    padding-left: 10px;
}

#inscricoes button {
    background-color: #015499;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#formulario label {
    color: rgba(0, 0, 0, 0.63);
}

footer {
    background-color: #FFD700;
    color: #0f0e0e;
    text-align: center;
    padding: 10px 0;
    height: 50px;
}

.titulo-receita {
    text-align: center;
    color: #F0F0F0;
    margin: 20px;
}

.formulario-receita {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid black;
    font-weight: bold;
    background-color: #FFFFFFBB;
    color: #FFFFFF;

}

#categoria,
#nome-receita,
#email, #ingredientes, #autor, #modo-preparo,
a {
    width: 100%;
}

div + div {
    margin: 16px 0;
}

#categoria,
#nome-receita,
#email, #ingredientes, #autor {
    height: 24px;
}

#modo-preparo {
    height: 200px;
}

.imagem-formulario {
    text-align: center;

}

.imagem-formulario img {
    width: 600px;
    height: auto;
    margin-bottom: 0;
}

.enviar-form {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.botoes {
    margin-top: 10px;
}

.cancel, .send {
    padding: 10px;
    border: 1px solid rgb(128, 128, 128);
    min-height: 48px;
    border-radius: 8px;
}

.cancel {
    background-color: #f59f9f;
}

.send {
    background-color: #93e8a1;
}

.main {
    background: url("https://img.freepik.com/fotos-gratis/panela-de-grelha-vazia-com-varios-ingredientes-frescos-vegetarianos-para-cozinhar-vista-aerea-de-alimentos-grelhados-vegan_118925-1263.jpg?size=626&ext=jpg") no-repeat;
    background-size: 100% 100%;
}

.contato {
    padding: 20px;
    width: 25%;
    height: fit-content;
    display: inline-block;
    margin-right: 25px;
}

.desconto-semanal {
    display: inline-block;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    vertical-align: top;
    width: 70%;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

.desconto-semanal table {
    width: 100%;
}

.desconto-semanal th {
    border: 1px solid #C0C0C0;
    padding: 16px;
    background: #F0F0F0;
}

.desconto-semanal td {
    border: 1px solid #C0C0C0;
    padding: 16px;
    text-align: center;
    background: #FFFFCC;
}
caption{
    font-size: 18px;
}
