@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+French+Canon+SC&family=Merriweather:wght@700&family=Oswald:wght@300;700&family=Playfair+Display:wght@400;500;700;800&display=swap');

/* Estilos gerais */
body {
    font-family: 'Playfair Display', 'Bebas Neue', 'Merriweather', 'Serif';
    margin: 0;
    padding: 0;
    background-color: #FEF9FF;
    color: #022B3A;
    text-align: center;
}

header {
    font-family: 'Playfair Display';
    background-color: #9c89b8;
    color: #231942;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul li {
    margin: 5px;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #eff7f6;
    background-color: #1F7A8C;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #777;
}

@media screen and (min-width: 500px) {
    .container {
        max-width: 400px;
        /* Largura máxima aumentada para telas maiores */
        margin: 20px auto;
        /* Ajuste na margem para telas maiores */
    }
}

.container {
    width: 90%;
    margin: 20px auto;
}

.output {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #BFDBF7;
}

/* Estilos para formulários */
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 10px auto;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
textarea {
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    resize: none;
    text-transform: capitalize;

}

input[type="submit"] {
    margin: 10px;
    padding: 8px 80px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #777;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid rgb(128, 128, 128);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #EAC4D5;
}