@media (max-width: 768px) {
    /* Estilos para telas menores que 768px */
  }
.father {
    color: #4646b4;
}

.mother {
    color: #7d46b4;
}

.son {
    color: #467db4;
}

.daughter {
    color: #b44698;
}

.menu {
    border-collapse: collapse;
    border-spacing: 2px;
    

}

.menu th {
    border: 2px solid #C0C0C0;
    background: #b6cee2;
}

.menu td {
    border: 2px solid #C0C0C0;
    text-align: center;
    background-color: #edf3f8;
}

.products {
    width: 50vw;
    height: auto;
    border: 2px solid #F0F0F0;
    padding: 8px;
}

.tasks {
    width: 50vw;
    height: auto;
    border: 2px solid #F0F0F0;
    padding: 8px;
}

.container {
    display: flex;
    margin: 0.5vw 0.5vw;
    background-color: rgb(237, 247, 247);
}